*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url(/assets/background.png) no-repeat center/cover;
}

img{
    border-radius: 16px;
}

.page{
    background:#F0E8C2 ;
    width: 800px;
    padding: 24px;
    margin: 48px auto;
    border-radius: 24px;
}